{% extends 'base.html.twig' %}
{%  form_theme  form  'bootstrap_4_layout.html.twig'  %}
{% block body %}
  <h2>Редактировать книгу</h2>
  {{ form_start(form)}}
    {{ form_widget(form) }}
    <button type='submit' class='btn btn-primary'>Отправить</button>
  {{ form_end(form)}}
  {% if error %}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
  {% endif %}
{% endblock %}